---
---

@import "{{ site.theme }}"; /* Import the theme styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Custom styles */

h1 a {
    display: none;
}

body {
  background-color: #162c23;
  padding: 50px;
  font: 15px/1.5 "Roboto", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-weight: 400;
}

section {
  background-color: #ffffff;
  padding: 20px;
  width: 120%;
  margin-right: -360px;
  display: flex;  /* Enable Flexbox */
  flex-direction: column; /* Stack section items vertically */
  justify-content: flex-start; /* Align content at the top */
}

section p {
    color: #3e4a45;
}

section p a {
    float: right;
}

section p em a {
    position: relative;
    float: none;
}

section li::marker {
    color: #3e4a45;
}

section strong {
    color: #3e4a45;
}

section ul {
  list-style-type: none;
  padding-left: 0;
}

section hr {
    border: 0;
    height: 1px;
    background-color: #d5d5d5;
    margin: 20px auto;
}

section a {
    color: #4a9476;
}

details > summary {
  list-style: none;
  appearance: none;
  cursor: pointer;
}

.arrow {
  display: inline-block;
  font-size: 0.75em;
  line-height: 1;
  transition: transform 0.2s ease;
  cursor: pointer;
  margin-right: 10px;
}

details[open] > summary .arrow {
  transform: rotate(90deg);
}

header {
  margin-left: -360px;
  margin-top: -20px;
  width: 25%;
  display: flex; /* Enable Flexbox */
  flex-direction: column; /* Stack header items vertically */
  justify-content: flex-start; /* Align header items at the top */
}

img[src="/SyNergy-GitHub-Index/assets/img/logo.png"] {
    max-width: 150%;
    display: inline-block;
}

header p {
    padding-top: 50px;
    width: 405px;
    line-height: 2;
}

header p.view {
    display: none;
}

h1 {
    color: #162c23;
    font-size: 25px;
    font-weight: 700;
}

h2 {
    color: #4a9476;
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}

a {
    color: #6ea991;
}

a:hover {
    color: #6ea991;
}

footer {
    margin-left: -350px;
    width: 405px;
}

.highlight {
    background-color: yellow;
    color: inherit;
    font-weight: bold;
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 1440px) {
  body {
    padding: 20px;
    font-size: 14px;
  }

  section {
    padding: 15px;
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    justify-content: flex-end; /* Push content to the bottom */
  }

  header {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    flex-direction: column; /* Ensure vertical stacking on small screens */
    align-items: center; /* Center-align header elements */
  }

  header p {
    padding-top: 20px;
    width: 100%;
    line-height: 1.5;
  }

  h1 {
    font-size: 22px;
    text-align: center; /* Center-align the header text */
  }

  h2 {
    font-size: 18px;
  }

  footer {
    margin-left: 0;
    width: 100%;
  }
}
