---
---

@import "{{ site.theme }}"; /* Import the theme styles */

/* Custom styles */

h1 a {
    display: none;
}

body {
    margin-right: -100px;
    margin-left: -100px;
    padding-right: 20px;
    padding-left: 20px;
}

/* Add padding for the logo */
img[src="/SyNergy-GitHub-Index/assets/img/logo.png"] {
    margin-top: -100px;
    padding: 70px 0px 100px 0; /* Adjust this value as needed */
    max-width: 150%;
}

/* Change heading color */
h1, h2 {
    color: #4a9476;  /* Replace with your desired heading color */
}

/*
    Change site title color 
    h1.site-title {
        color: #2c5444; Replace with your desired site title color
    }
*/

/* Change link color */
a {
    color: #4a9476; /* Replace with your desired link color */
}

/* Optional: Change link color on hover */
a:hover {
    color: #2c5444; /* Replace with your desired hover color */
}
