---
---

@import "{{ site.theme }}"; /* Import the theme styles */

/* Custom styles */

h1 a {
    display: none;
}

body {
  background-color: #162c23;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#e5e5e5;
  font-weight:400;
}

section {
  background-color: rgba(229, 229, 229, 1); /* 0% transparency */ /*   background-color: #e5e5e5; */
  padding: 20px;
  width: 120%;
  margin-right: -360px; 
}

section p {
    color: #3e4a45;   /* Changes the color of paragraphs within this section */
}

section p a {
    float: right;
}

section p em a {
    position: relative;
    float: none;
}

section li::marker {
    color: #3e4a45;   /* Changes the color of paragraphs within this section */
}

section strong {
    color: #3e4a45;   /* Changes the color of paragraphs within this section */
}

section hr {
    border: 0;
    height: 1px;
    background-color: #162c23; /* Custom color */
    margin: 20px auto;          /* Center the line and add spacing */
}

section a {
    color: #4a9476;   /* Changes the color of paragraphs within this section */
}

/* Style for the dropdown summary */
details > summary {
  cursor: pointer; /* Makes it clear that it's clickable */
}

/* Rotate arrow on click */
details[open] > summary .arrow {
  transform: rotate(90deg); /* Rotates the arrow 90 degrees to point down */
}

.arrow {
  display: inline-block; /* Allows for rotation */
  transition: transform 0.3s ease; /* Smooth transition for rotation */
}

header {
    margin-left: -360px;
    margin-top: -20px;
    max-width: 200%;
}

/* Add padding for the logo */
img[src="/SyNergy-GitHub-Index/assets/img/logo.png"] {
    max-width: 200%;
    background-color: #e5e5e5;
    display: inline-block; 
}

header p {
    padding-top: 100px;  /* Adjust this value as needed */
    width: 405px;
}

header p.view {
    display: none;
}

/* Change heading color */
h1 {
    color: #162c23;  /* Replace with your desired heading color */
    font-size:25px;
}
h2 {
    color: #4a9476;  /* Replace with your desired heading color */
    font-size:20px;
}

/*
    Change site title color 
    h1.site-title {
        color: #2c5444; Replace with your desired site title color
    }
*/

/* Change link color */
a {
    color: #6ea991; /* Replace with your desired link color */
}

/* Optional: Change link color on hover */
a:hover {
    color: #6ea991; /* Replace with your desired hover color */
}

footer {
    margin-left: -350px;
    width: 405px;
}
